<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12" style="padding:0 !important">
                        <div class="header-bg d-flex">
                            <div class="header-bg-name w-75 p-5">
                                <h1>GEE-UI Design System</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum suscipit commodi
                                    saepe ex? Non fuga, assumenda dolore provident vitae veniam beatae neque facere ab
                                    illo, inventore officiis expedita nesciunt minus.</p>
                                <div class="header-see-more "><a href="">See Now</a></div>
                            </div>
                            <div class="group-btn w-25 pt-4">
                                <i class="fas fa-adjust rounded-circle bg-secondary p-2"></i>
                                <i class="fas fa-search rounded-circle bg-secondary p-2"></i>
                                <i class="fas fa-adjust rounded-circle bg-secondary p-2"></i>
                                <i class="fas fa-search rounded-circle bg-secondary p-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-5">
                        <h1>Some Card</h1>
                        <div class="some-card d-flex mt-5 pb-5">
                            <div class="card mr-3" style="width: 18rem;">
                                <img src="https://lh3.googleusercontent.com/proxy/wVp86g2itQKUZesf-h6j7k7FUO9vJnk0CeLxR031qyluWxRN1XaIq1jRLoyaK5_HXvx4YKXlt4sDv18HtB9X_YkxpGQXuNNT5WTyTaO3V7tUseWarTB2" class="card-img-top" alt="..." height="100px" width="100%">
                                <div class="card-body">
                                    <h1>Any</h1>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                            <div class="card mr-3" style="width: 18rem;">
                                <img src="https://lh3.googleusercontent.com/proxy/wVp86g2itQKUZesf-h6j7k7FUO9vJnk0CeLxR031qyluWxRN1XaIq1jRLoyaK5_HXvx4YKXlt4sDv18HtB9X_YkxpGQXuNNT5WTyTaO3V7tUseWarTB2"
                                    class="card-img-top" alt="..." height="100px" width="100%">
                                <div class="card-body">
                                    <h1>Any</h1>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                            <div class="card mr-3" style="width: 18rem;">
                                <img src="https://lh3.googleusercontent.com/proxy/wVp86g2itQKUZesf-h6j7k7FUO9vJnk0CeLxR031qyluWxRN1XaIq1jRLoyaK5_HXvx4YKXlt4sDv18HtB9X_YkxpGQXuNNT5WTyTaO3V7tUseWarTB2"
                                    class="card-img-top" alt="..." height="100px" width="100%">
                                <div class="card-body">
                                    <h1>Any</h1>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                            <div class="card mr-3" style="width: 18rem;">
                                <img src="https://lh3.googleusercontent.com/proxy/wVp86g2itQKUZesf-h6j7k7FUO9vJnk0CeLxR031qyluWxRN1XaIq1jRLoyaK5_HXvx4YKXlt4sDv18HtB9X_YkxpGQXuNNT5WTyTaO3V7tUseWarTB2"
                                    class="card-img-top" alt="..." height="100px" width="100%">
                                <div class="card-body">
                                    <h1>Any</h1>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 p-5">
                        <h1>Any</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolores tempore at ullam eius. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>